@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');


html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

div {
    display: block;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
}

p {
    line-height: 1.5;
    color: lightgray;
}

.text--purple {
    color: blue;
}


h1 {
    font-size: 46px;
    margin-bottom: 24px;
    text-align: center;
}


h2, h3, h4 {
    text-align: left;
    margin-bottom: 32px;
    color: darkgray;
}

.section__subtitle {
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.header__subtitle {
    margin-top: 100px;
    font-size: 10px;
    text-align: left;
    font-weight: 500;
}


a:hover {
    text-decoration: underline;
}


/* NAV */

nav {
    height: 100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.logo {
    width: 70px;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    font-size: 16px;
    color: #242424;
    font-weight: 600;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}


/* landing page */


#landing {
    margin-top: 80px;
    height: calc(100vh - 80);
}

.header__container {
 display: flex;
 margin: 0 auto;
 padding: 24px 24px;
}

.header__description {
    width: 40%;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 24px;
    animation: fade-up 650ms 200ms backwards;
}

.row__landing {
    margin-top: -20px;
}

.btn {
    
    background-color: #0044ff;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 30px;
    border: none;

}

.btn:hover {
    opacity: 0.7;
    transition: all 300ms ease;
}

.input__email {
    border: 2px solid lightgray;
    border-radius: 20px;
    
    font-size: 16px;
    margin-right: 20px;
    z-index: 1;
}

.getstarted__wrapper {
    display: flex;
    width: 40%;
    border-radius: 30px;
    padding: 4px;
}


.subtitle__img {
    height: 30px;
    filter: invert(1);
}

.header__img {
    width: 60%;
    animation: animate-picture 800ms 200ms backwards;
}



.header__title {
    width: 45%;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.25;
    --tw-text-opacity: 1;
    margin-bottom: 32px;
    text-align: left;
    color: black;
}

.subheader__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Features */

#container {
    position: relative;
    pad: 80px 0;
    
    
}

.services__wrapper {
    color: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

.service {
    padding: 0 24px;
    width: calc(100vh / 3);
    margin: 24px;


}


.service__description {
    display: flex;
    flex-direction: column;
    height: 30%;
}

.hightlight__para {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.hightlight__img {
    border: 2px solid lightgray;
    color: #7342d6;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 32px;
    margin-bottom: 24px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transform: translateY(-30px);
    
}


.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: left;
    font-weight: bold;
    color: black;
}


.row__features {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-up 650ms 800ms backwards;
    
}


.section__para {
    text-align: center;
    width: 40%;
    font-weight: bold;
    font-size: 15px;
}

.section__title {
    font-size: 20px;
    color: blue;
}


.service__rewrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 

    LEARN MORE

*/



.learnmore__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    margin: 24px;
}

.learnmore__header {
    --tw-text-opacity: 1;
    color: rgb(100, 21, 255);
    font-weight: 700;
    margin-bottom: 24px;

}

.learnmore__subtitle {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.25;
    color: black;
    font-weight: bold;

}

.row__more {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 200px;
    animation: fade-up 650ms 800ms backwards;
}


.learnmore__parts {
    width: 50%;
    display: flex;
    flex-direction: column;
}


.more__img {
    width: 45%;
    position: relative;
    flex-shrink: 0;
    border: 1px solid lightgray;
    
}

.part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.learnmore__para {
    padding-right: 100px ;
    margin-bottom: 24px;
}

.learnmore_btn {
    margin-top: 24px;
    border-radius: 35px;
    padding: 12px;
    border: 1px solid rgb(100, 21, 255);
    background-color: rgb(100, 21, 255);
    color: white;
}


.learnmore_btn:hover {
    opacity: 0.7;
}







/* 

footer

*/

footer {
    background-color: #2e0fb6;

}



.footer__social--list{
    margin-bottom: 20px;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 8% 0;
}

.footer__logo--img {
    width: 70px;
    height: 70px;
}

.footer_social--list-wrapper {
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.footer__social--link,
.footer__copyright {
    color: white;
    padding: 10px;
}

.footer__logo--popper {
    color: white;
    position:absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}

.footer_anchor {
    position: relative;
    margin-bottom: 20px;
}

.footer_anchor:hover  .footer__logo--popper{
    transform: translateX(60px);
    opacity: 1;

}


/* 

ANIMATIONS

*/

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateX(800px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

@keyframes animate-picture {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

}


